.social-block {

  &__facebook,
  &__twitter,
  &__linkedin,
  &__youtube,
  &__pinterest {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 33px;
    height: 20px;
    border-radius: 5px;
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 20px;
    transition: color, background-color, text-shadow, box-shadow, 0.3s ease 0.3s;

    &:hover {
      text-shadow: 1px 1px 2px black, 0 0 20px gold;
    }

    &:active {
      text-shadow: 1px 1px 2px black, 0 0 20px gold;
      box-shadow: 1px 1px 2px black, 0 0 20px gold;
    }
  }

  a {
    color: #ffffff;
  }

  &__facebook {
    &::before {
      content: "\f09a";
    }

    &:hover {
      color: #4267B2;
    }

    &:active {
      background-color: #4267B2;
      color: #ffffff;
    }
  }

  &__twitter {
    &::before {
      content: "\f099";
    }

    &:hover {
      color: #00acee;
    }

    &:active {
      background-color: #00acee;
      color: #ffffff;
    }
  }

  &__linkedin {
    &::before {
      content: "\f0e1";
    }

    &:hover {
      color: #5474fd;
    }

    &:active {
      background-color: #5474fd;
      color: #ffffff;
    }
  }

  &__youtube {
    &::before {
      content: "\f16a";
    }

    &:hover {
      color: #c4302b;
    }

    &:active {
      background-color: #c4302b;
      color: #ffffff;
    }
  }

  &__pinterest {
    &::before {
      content: "\f0d2";
    }

    &:hover {
      color: #c61317;
    }

    &:active {
      background-color: #c61317;
      color: #ffffff;
    }
  }
}