.choose {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 685px;
  border: 1px solid#707070;
  background-image: url(./../assets/Section/3.works/works_images/work-fon.png);
  background-size: cover;

  &__title-block {
    display: flex;
    align-items: center;
    width: 50%;

  }


  &__img-block {
    width: 50%;
    margin: 15px 80px;
  }

  @media (max-width:$deviceSizeMD) {
    &__content-conainer {
      flex-direction: column;
      margin: 30px 15px;
    }

    &__title-block {
      width: 100%;
    }


    &__img-block {
      width: 100%;
    }
  }
}